html,body{
    height: 100%;
    overflow: hidden;
    margin: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
}
.iconfont{
    margin-right: 15px;
}
h3,h4,h5,h2{
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 14px;
}
a{
    color: #ffffff;
}
a:hover,a:focus{
    color: #ffffff;
}
#particles-js{
    position: relative;
    background-color: transparent;
}
#particles-js canvas{
    position: absolute;
    top: 0;
    z-index: 1;
}
#stats{
    display: none;
}
.glyphicon{
    top: 5px;
    margin: 0 5px;
}
ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#container,.section{
    height: 100%;
    position: relative;
}
.left{
    float: left;
}
.intro{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
#pages{
    position:fixed;
    left: 48%;
    bottom: 30px;
    list-style: none;
}
#pages li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 0 0 10px 5px;
    float: left;
}
#pages li.active{
    width: 14px;
    height: 14px;
    border: 2px solid #FFFE00;
    background: none;
    position: relative;
    top: -3px;
}
#section0 .title{
    color: #ffffff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
    animation: sectitle0 1s ease-in-out 100ms forwards;
}
#section0 .position{
    color: #ffffff;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: sec0 1s ease-in-out 100ms forwards;
    animation: sec0 1s ease-in-out 100ms forwards;
}
#section0 .personnal-des{
    animation: emerge 2.5s forwards;
}
#section0 .gratuetion{
    opacity: 0;
    animation: emerge 2s forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;;
}
#section0 .job{
    opacity: 0;
    animation: emerge 2s forwards;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;;
}
@-webkit-keyframes sectitle0{
    0%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes sectitle0{
    0%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes sec0{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes sec0{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes emerge {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#section0{
    background-color: #1976d2;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.myphoto{
    display: inline-block;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../../images/resume/myphoto.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: 250px;
    background-size: 100%;
    border: solid 3px #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    animation: emerge 2s;
}
#section1{
    background-color: #0097a7;
}
#section2{
    background-color: #689f83;
}
#section3{
    background-color: #0097A7;
}
#section4{
    background-color: #5C6BC0;
}
.skill-title{
    border-right: solid 1px #00796b;
    height: 390px;
}
.skill-title h2{
    margin-top: 180px;
}
.skills-list{
    text-align: left;
    margin-bottom: 40px;
}
.skills-ico{
    text-align: center;
}
.skills-ico img{
    max-width: 100%;
    max-height: 80px;
}
.skills-des p{
    margin-bottom: 0;
    line-height: 20px;
}
.skills-des h3{
    line-height: 26px;
}
.exprience-list-card{
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 15px 0;
    margin: 0;
}
.exprience-list-card h3,.exprience-list-card p{
    margin-bottom: 10px;
}
.exprience-time{

}
.exprience-time p{
    margin-bottom: 0;
    line-height: 30px;
    font-size: 16px;
}
.exprience-des{
    border-left: solid 1px rgba(0,0,0,0.1);
}
p{
    font-size: 14px;
}
.exprience-job ul{
    padding-left: 15px;
    margin-bottom: 10px;
}
.exprience-job ul li{
    list-style: disc;
    color: #ffffff;
    font-size: 14px;
}
.contact p{
    line-height: 50px;
    font-size: 24px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}